
.loading-screen {
	display: none;
	position: fixed;
	z-index: 50;
	top: 0;
	left: 0;
	background-color: $new-blue;

	&.show {
		display: block;
		-webkit-transition: opacity 1s;
		transition: opacity 1s;
	}
	&.hide {
		opacity: 0;
	}

	.copy-cont {
		@include centerMe();
		max-width: 80%;
		color: $white;
	}
}

.slide0 {
	z-index: 5;
	min-height: 100vh;
	padding: 20vh 0;
	background-color: $new-blue;
	overflow: hidden;
	box-shadow: none;

	&.go {
		.arrows {
			opacity: 0;
		}
	}

	// Small airplane-like .svg
	#landing-poly {
		position: absolute;
		z-index: 2;
		top: -250px;
		right: 60%;
		@include transform( rotate(40deg) );

		@media (min-width: $mobile) {
			position: fixed;
		}
	}
	.container {
		text-align: right;
	}
	.arrows {
		@include centerX();
		bottom: 20px;
		width: 40px;
		height: 50px;
		@include transition();
		
		path {
			stroke: $white;
			fill: transparent;
			stroke-width: 4px;	
			stroke-dasharray: 200;
			stroke-dashoffset: 300;
			@include animation(draw, 2s, linear, 0s, infinite, alternate);

			&.a1 {
				@include animation-delay(1s);
			}
			&.a2 {
				@include animation-delay(1.5s);
			}
			&.a3 {
				@include animation-delay(2s);
			}
		}
	}

	@media (min-width: $mobile) {
		height: 100vh;
		padding: 0;

		.container {
			@include centerMe();
		}
	}
}


@include keyframes(draw) {
	0% {
		stroke-dashoffset: 300;
	}
	100% {
		stroke-dashoffset: 0;
	}
}