
// General Styles
//------------------------
* {
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
}
html {
	font-size: $base-font-size;
	font-family: $base-font-family;
	color: $sketchup-gray;
}
h1,
h2,
h3,
h4,
h5 {
	margin-top: 0;
}

h1 {
	font-size: $h1-font-size;
	font-weight: 300;
	line-height: 1.2em;
}
h2 {
	font-size: $h2-font-size;
	font-weight: 300;
	line-height: 1.2em;
}
h3 {
	font-size: $h3-font-size;
	font-weight: 600;
	line-height: 1.3em;
}
h4 {
	font-size: $h4-font-size;
	font-weight: 300;
	line-height: 1.3em;
}
h5 {
	font-size: $h5-font-size;
	font-weight: 800;
	line-height: 1.8em;	
}

a {
	font-size: 1.6rem;
	color: $text-color;
	text-decoration: none;
	@include transition();

	&:visited {
		color: $text-color;
	}
}
p {
	font-size: 1.6rem;
	line-height: 2.4rem;
	font-weight: 300;
	margin: 0 0 11px;
}

button,
.button {
	border: 2px solid $sketchup-gray;
	box-shadow: none;
	padding: 6px 20px 4px;
	background-color: transparent;
	color: $sketchup-gray;
	cursor: pointer;
	font-size: 1.6rem;
	line-height: 1.42em;
	text-align: center;
	@include transition();

	&:focus {
		outline: none;
	}

	&.red {
		border: none;
		background-color: $sketchup-red;
		color: $white;

		&:hover {
			background-color: darken($sketchup-red, 10%);
		}
	}
}
.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 20px;
}
main {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.center-me {
	@include centerMe();
}
.slide {
	position: absolute;
	top: 100%;
	left: 0;
	height: 100vh;
	width: 100%;
	background-color: $sketchup-ltgray;
	border-bottom: 1px solid $sketchup-gray;
	@include transition(0.9s);

	// Showing state
	&.active {
		top: 0;
	}
}

// Dot nav
//----------------
.dots-nav {
	position: fixed;
	z-index: 8;
	top: 50%;
	right: 30px;
	@include transform( translateY(-50%) );

	.dot {
		display: block;
		width: 10px;
		height: 10px;
		border: 2px solid $sketchup-red;
		margin-bottom: 15px;
		cursor: pointer;
		@include transition();

		&.current {
			background-color: $sketchup-red;
		}
	}

	@media (min-width: $mobile) {
		.dot {
			&:hover {
				border-color: $black;
			}
		}
	}
}


// Keyframes
//--------------
// Hide scalee: Fade out, then collapse
@include keyframes(hideScalee) {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
		height: 100%;
	}
	100% {
		opacity: 0;
		height: 0%;
	}
}
@include keyframes(showScalee) {
	0% {
		opacity: 0;
		height: 0%;
	}
	50% {
		opacity: 0;
		height: 100%;
	}
	100% {
		opacity: 1;
		height: 100%;
	}
}