
// General Styles
//------------------------
* {
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
}
html {
	font-size: $base-font-size;
	font-family: $base-font-family;
	color: $sketchup-gray;
}
h1 {
	font-size: $h1-font-size;
	font-weight: 300;
	line-height: 1.2em;
}
h2 {
	font-size: $h2-font-size;
	font-weight: 300;
	line-height: 1.2em;
}
h3 {
	font-size: $h3-font-size;
	font-weight: 600;
	line-height: 1.3em;
}
h4 {
	font-size: $h4-font-size;
	font-weight: 300;
	line-height: 1.3em;
}

a {
	color: $text-color;
	text-decoration: none;
	@include transition();

	&:visited {
		color: $text-color;
	}
}
p {
	font-size: 1.6rem;
	line-height: 2.4rem;
	font-weight: 300;
}

button {
	border: 2px solid $sketchup-gray;
	box-shadow: none;
	padding: 10px 15px;
	background-color: $white;
	color: $sketchup-gray;
	cursor: pointer;
	font-size: 1.2rem;
	text-align: center;

	&:focus {
		outline: none;
	}
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 20px;
}