
// General Styles
//------------------------
* {
	box-sizing: border-box;
}
&:focus {
	outline: none;
}
html,
body {
	margin: 0;
	padding: 0;
}
html {
	font-size: $base-font-size;
	font-family: $new-body-fonts;
	color: $sketchup-gray;
	background-color: $white;
}
body {
	position: relative;
	overflow-x: hidden;

	&.fixed {
		overflow: hidden;
	}
}
h1,
h2,
h3,
h4,
h5 {
	margin-top: 0;
	font-family: $new-header-fonts;
	text-transform: uppercase;
}

h1 {
	font-size: $h1-font-size;
	font-weight: 900;
	line-height: 1.2em;
}
h2 {
	font-size: $h2-font-size;
	font-weight: 700;
	line-height: 1.2em;
	font-family: $new-body-fonts;
	text-transform: none;
}
h3 {
	font-size: $h3-font-size;
	font-weight: 900;
	line-height: 1.3em;
}
h4 {
	font-size: $h4-font-size;
	font-weight: 900;
	line-height: 1.3em;
}
h5 {
	font-size: $h5-font-size;
	font-weight: 900;
	line-height: 1.8em;	
}

a {
	font-size: 1.6rem;
	color: $sketchup-gray;
	text-decoration: none;
	@include transition();

	&:visited {
		color: $sketchup-gray;
	}
}
p {
	font-size: 1.6rem;
	line-height: 2.4rem;
	font-weight: 300;
	margin: 0 0 11px;
}

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 20px;

	@media (min-width: $mobile) {
		padding: 0;
	}
}
.slide {
	position: relative;
	min-height: 100vh;
	width: 100%;
	padding: 50px 20px;
	// border-bottom: 1px solid $sketchup-gray;
	box-shadow: $box-shadow;

	&.slide2,
	&.slide3 {
		padding-top: 15vh;
		padding-bottom: 20vh;
	}

	@media (min-width: $mobile) {
		// position: absolute;
		// top: 100%;
		// left: 0;
		// min-height: 100vh;
		// padding: 0;
		// @include transition(0.9s);
		
		// // Showing state
		// &.active {
		// 	top: 0;
		// }
	}
}
.title-box {
	position: relative;
	display: inline-block;
	max-width: 800px;

	.slide-number {
		position: relative;
		top: 30px;
		z-index: 4;

		display: inline-block;
		margin-bottom: 20px;
		padding: 10px 10px 8px;
		font-size: 1.7rem;
		color: $white;
		background-color: $new-red;
		box-shadow: 4px 30px 14px -1px $sketchup-gray;
	}
	h1 {
		position: relative;
		top: -50px;
		z-index: 2;
		margin: 0 0 15px;

		// animate in from blur
		color: $su-gray-rgba-0;
		text-shadow: 0 0 15px $su-gray-rgba;
	}
	.underline {
		position: relative;
		// top: -100px;
		z-index: 3;

		display: inline-block;
		width: 150px;
		height: 3px;
		margin-bottom: 18px;
		background-color: $sketchup-gray;
		box-shadow: 4px 15px 9px $sketchup-gray; // animated
	}
	h2 {
		position: relative;
		top: -50px;
		z-index: 1;
		margin: 0;

		// animate in from blur
		color: $su-gray-rgba-0;
		text-shadow: 0 0 15px $su-gray-rgba;
	}
}

button,
.button {
	padding: 6px 20px 4px;
	text-align: center;
	font-size: 1.6rem;
	line-height: 1.42em;
	color: $sketchup-gray;
	border: 2px solid $sketchup-gray;
	box-shadow: none;
	background-color: transparent;
	@include transition(0.5s);
	cursor: pointer;
	font-family: $new-body-fonts;

	&:focus {
		outline: none;
	}

	&.red {
		border-color: $sketchup-red;
		color: $sketchup-red;

		@media (min-width:$mobile) {
			&:hover {
				border-color: darken($sketchup-red, 10%);
				color: darken($sketchup-red, 10%);
			}
		}
	}
	&.red-solid {
		padding: 14px 30px 8px;
		border: none;
		background-color: $new-red;
		color: $white;

		@media (min-width: $mobile) {
			&:hover {
				background-color: darken($new-red, 5%);
			}
		}
	}
	&.grey-solid {
		padding: 14px 20px 8px;
		border: none;
		background-color: $sketchup-gray;
		color: $white;

		@media (min-width:$mobile) {
			padding: 14px 30px 8px;
			
			&:hover {
				background-color: darken($sketchup-gray, 5%);
			}
		}

	}
	&.white {
		border-color: $sketchup-ltgray;
		color: $sketchup-ltgray;

		@media (min-width: $mobile) {
			&:hover {
				border-color: $white;
				color: $white;
			}
		}
	}
	&.blue {
		padding: 14px 30px 8px;
		border: none;
		background-color: $new-blue;
		color: $white;

		@media (min-width: $mobile) {
			&:hover {
				background-color: darken($new-blue, 10%);
			}
		}
	}
}
.arrow-icon {
	display: inline-block;

	&:before {
		content: '';
		display: inline-block;
		position: relative;
		top: 2px;
		width: 12px;
		height: 12px;
		border-top: 3px solid $new-blue;
		border-right: 3px solid $new-blue;
		@include transition();
	}
}
@mixin closeIcon() {
	// @include transition(0.8s);
	@include transform( rotate(45deg) );
	cursor: pointer;

	&:before,
	&:after {
		content: '';
		display: inline-block;
		@include centerMe();
		background-color: $new-blue;
	}
	&:before {
		width: 60%;
		height: 3px;
	}
	&:after {
		width: 3px;
		height: 60%;
	}
}

// Small airplane-like .svg
//----------------------------
#landing-poly {
	position: fixed;
	z-index: 2;
	top: -250px;
	right: 60%;
	@include transform( rotate(40deg) );
}

// Large rotating .svg
//-----------------------
#large-poly {
	position: fixed;
	z-index: 0;
	top: -120%;
	left: -50%;
	// -webkit-filter: drop-shadow(9px 8px 4px $sketchup-gray);
	// filter: drop-shadow(9px 8px 4px $sketchup-gray);
}


// Side scrollbar
//------------------
.progress-bar {
	display: none;

	@media (min-width: $mobile) {
		@include centerY();
		position: fixed;
		z-index: 5;
		// left: 50px;
		left: 0;
		display: inline-block;
		height: 70vh;
		padding-left: 50px; // space for hover

		@at-root .scrolling & {
			.progress-bar-track {
				opacity: 1;
				-webkit-transition-delay: 0s;
				transition-delay: 0s;
			}
			.sections {
				opacity: 1;
				-webkit-transition-delay: 0s;
				transition-delay: 0s;

				.progress-nav-item {
					-webkit-transition-delay: 0s;
					transition-delay: 0s;	
				}
			}
		}

		.progress-bar-track {
			opacity: 0; // shown during scroll & hover
			position: relative;
			height: 100%;
			width: 10px;
			background-color: $white;
			border-radius: 10px;
			box-shadow: 3px 1px 12px -2px $sketchup-gray;
			overflow: hidden;
			@include transition();
			-webkit-transition-delay: 0.2s;
			transition-delay: 0.2s;

			.progress-bar-indicator {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 0;
				height: 10px;
				width: 100%;
				border-radius: 10px;
				background-color: $gray-5;
				box-shadow: 3px 2px 15px -1px $sketchup-gray;
			}
		}
		.sections {
			position: absolute;
			top: 0;
			// left: 10px;
			left: -150px;
			height: 100%;
			width: 140px;
			// overflow: hidden;
			@include transition();
			opacity: 0;
			-webkit-transition-delay: 0.3s;
			transition-delay: 0.3s;		


			.progress-nav-item {
				position: absolute;
				right: 20px;
				opacity: 0.4;
				
				display: inline-block;
				width: 100px;
				padding: 8px 13px 5px;
				text-align: center;
				font-size: 1.5rem;
				color: $white;
				background-color: $new-blue;
				cursor: pointer;
				@include transition();
				-webkit-transition-delay: 0.3s;
				transition-delay: 0.3s;	
				box-shadow: 3px 2px 20px -3px $sketchup-gray;

				&:hover {
					box-shadow: 3px 4px 20px -1px $sketchup-gray;
				}
				&.active {
					right: -190px;
					opacity: 0.8;
					background-color: $sketchup-gray;
				}

				&.meet {
					top: 0;
				}
				&.hello {
					top: 30%;
				}
				&.jobs {
					top: 60%;
				}
			}
		}

		&:hover {
			.progress-bar-track {
				opacity: 1;
			}
			.sections {
				left: 100%;
				opacity: 1;

				.progress-nav-item {
					opacity: 1;
					right: 20px;
					-webkit-transition-delay: 0s;
					transition-delay: 0s;	

					&.active {
						right: 20px;
					}
				}
			}
		}
	}
}


// Footer
//--------------
footer {
	position: relative;
	width: 100%;
	padding: 30px 0 40px;
	background-color: $sketchup-gray;

	.to-top-btn {
		@include centerX();
		top: -80px;
		display: inline-block;
		padding: 15px 15px 10px;
		text-align: center;
		background-color: $new-blue;
		color: $white;
		cursor: pointer;
		box-shadow: $box-shadow;
		@include transition(0.3s);

		&:active {
			box-shadow: $box-shadow-active;
		}

		.arrow-icon {
			margin-bottom: 5px;

			&:before {
				border-color: $white;
				@include transform( rotate(-45deg) );
			}
		}
		p {
			margin: 0;
			line-height: 1em;
		}
	}

	.logo {
		display: inline-block;

		img {
			height: 40px;
			width: auto;
		}
	}
	.utility-links {
		display: inline-block;
		float: right;
		padding-top: 12px;

		a {
			display: inline-block;
			padding: 3px 5px;
			margin-left: 5px;
			color: $white;
			@include transition(0.3s);
		}
	}

	@media (min-width: $mobile) {
		.to-top-btn {
			&:hover {
				background-color: darken($new-blue, 5%);
			}
		}
		a {
			border-bottom: 1px solid transparent;

			&:hover {
				border-color: $white;
			}
		}
	}
}


// Keyframes
//--------------
// Hide scalee: Fade out, then collapse
@include keyframes(hideScalee) {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
		height: 100%;
	}
	100% {
		opacity: 0;
		height: 0%;
	}
}
@include keyframes(showScalee) {
	0% {
		opacity: 0;
		height: 0%;
	}
	50% {
		opacity: 0;
		height: 100%;
	}
	100% {
		opacity: 1;
		height: 100%;
	}
}