
header {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	background-color: $sketchup-gray;
	box-shadow: 1px 1px 6px $sketchup-gray;

	img {
		display: inline-block;
		height: 36px;
	}
}