
main {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.slide {
	position: absolute;
	top: 100%;
	left: 0;
	height: 100vh;
	width: 100%;
	border-bottom: 1px solid $sketchup-gray;
	position: absolute;
	@include transition();

	&.slide1,
	&.slide3 {
		background-color: $sketchup-ltgray;
	}
	&.slide2 {
		background-color: $sketchup-red;
	}

	// Showing state
	&.active {
		top: 0;
	}
}

// Dot nav
//----------------
.dots-nav {
	position: fixed;
	z-index: 8;
	top: 50%;
	right: 30px;
	@include transform( translateY(-50%) );

	.dot {
		display: block;
		width: 10px;
		height: 10px;
		border: 2px solid $sketchup-red;
		margin-bottom: 15px;
		@include transition();

		&.current {
			background-color: $sketchup-red;
		}
	}

	@media (min-width: $mobile) {
		.dot {
			&:hover {
				border-color: $black;
			}
		}
	}
}

// slide 1: Scalee Sorter
//--------------------------
.slide1 {
	position: relative;
	padding-top: 15vh;

	.title-cont {
		position: relative;
		top: 0; // declared for transition states
		opacity: 1;
		width: 100%;
		max-width: 1170px;
		margin: 0 auto 15vh;
		padding: 0 20px;
		text-align: center;
		@include transition();
	}
	.scalee-cont {
		position: absolute;
		bottom: 60px;
		width: 100%;
		text-align: center;
		white-space: nowrap;
		overflow-x: auto;

		img {
			display: inline-block;
			height: 40vh;
			@include transition();
		}
	}
	.control-panel {
		position: absolute;
		bottom: -100px;
		left: 0;
		width: 100%;
		max-height: 50px;
		background-color: $sketchup-gray;
		@include transition;

		#open-filter {
			@include centerX();
			top: -30px;

			height: 30px;
			width: 70px;
			border-radius: 40px 40px 0 0;
			background-color: $sketchup-gray;
			color: $white;

			.up-text {
				position: absolute;
				top: 5px;
			}
			.down-text {
				display: none;
				position: absolute;
				bottom: 5px;
				@include transform( rotate(180deg) );
			}
		}

		.selectors {
			width: 100%;
			display: flex;

			.selector {
				flex: 1 0 auto;
				padding: 15px 10px;
				color: $white;
				text-align: center;
				font-size: $h5-font-size;
			}
			.button-cont {
				flex: 1 0 auto;

				button {
					width: 100%;
				}
			}
		}
	}

	// Show bottom filter bar, hide text, make scalees larger
	&.active2 {
		.title-cont {
			top: -150px;
			opacity: 0;
		}
		.control-panel {
			bottom: 0;
		}
		.scalee-cont {
			img {
				height: 55vh;
			}
		}
	}

	// 'control-panel' open
	&.edit-mode {
		.control-panel {
			max-height: 300px;
			height: 30vh;
		}
		.selectors {
			.selector {

			}
		}
	}
}