
.slide3 {
	padding: 10vh 0;

	@media (min-width: $mobile) {
	}
		
	.title-box {
		margin-bottom: 70px;
	}
	.job-postings {
		position: relative;
		text-align: center;
		padding-left: 4%;
	}
	.job-posting {
		position: relative;
		max-height: 250px; // arbitrary
		margin: 0 0 50px;
		padding: 0 0 0 100px;

		text-align: left;
		@include transition();
		cursor: pointer;

		.job-title-box {
			display: inline-block;
			width: 200px;
			height: 200px;
			margin-right: 20px;
			padding: 10px;
			text-align: left;
			background-color: $new-blue;
			color: $white;
			text-shadow: 0 0 15px $white;
			@include transition(0.4s);

			h4 {
				margin: 0;
			}
			p {
				margin: 0;
			}
		}
		.posting-content {
			display: inline-block;
			width: calc(100% - 230px);
			vertical-align: top;
			@include transition();

			.posting-description {
				max-height: 140px;
				overflow: hidden;
				margin-bottom: 10px;
				padding-top: 10px;
				text-shadow: 0 0 15px $black;				

				p {
					font-size: 1.5rem;
					line-height: 1.1em;
				}
			}
			.button-row {
				text-align: right;
				margin: 0;
			}
			a.button {
				position: relative;
				top: 100px; // animated into place
				display: inline-block;
				margin: 0;
				-webkit-transition: background-color 0.5s;
				transition: background-color 0.5s;
			}
		}

		@media (min-width: $mobile) {
			// width: 30%;
			// min-height: 300px; // arbitrary

			&:hover {
				.icon {
					border-color: $sketchup-ltgray;
				}
			}

		} // end @media
	} // end .job-posting
}