
.slide.slide3 {
	// padding-bottom: 40vh;
	overflow: hidden;

	@media (min-width: $mobile) {
	}

	#jobs-small-poly {
		position: absolute;
		z-index: 2;
		left: 80%;
		top: 0px;
		@include transform( rotate(45deg) );
	}
	#jobs-large-poly {
		position: absolute;
		left: 60%;
		top: -500px;
		@include transform( rotate(-41deg) );
	}
		
	.title-box {
		margin-bottom: 120px;
	}
	.job-postings {
		position: relative;
		text-align: center;
		padding-left: 4%;
	}
	.job-posting {
		position: relative;
		z-index: 5;
		max-height: 250px;
		margin: 0 0 100px;
		padding: 0 0 0 100px;
		text-align: left;

		.job-title-box {
			display: inline-block;
			width: 200px;
			height: 200px;
			padding: 30px 20px;
			text-align: left;
			background-color: $new-blue;

			// animate in from blur
			color: rgba(255,255,255, 0); // -> white
			text-shadow: 0 0 15px rgba(255,255,255, 1); // -> opacity:0
			box-shadow: 0 0 20px 10px $new-blue-rgba;

			h4 {
				margin: 0 0 5px;
			}
			p {
				margin: 0;
			}
		}
		.posting-content {
			display: inline-block;
			width: calc(100% - 230px);
			vertical-align: top;
			@include transition();

			.posting-description {
				max-height: 140px;
				overflow: hidden;
				margin-bottom: 10px;
				padding-top: 10px;

				// animate in from blur
				color: transparent;
				text-shadow: 0 0 15px $su-gray-rgba; // $sketchup-gray		

				p {
					font-size: 1.5rem;
					line-height: 1.1em;
					padding-left: 20px;
				}
			}
			.button-row {
				text-align: right;
				margin: 0;
			}
			a.button {
				position: relative;
				top: 100px; // animated into place
				display: inline-block;
				margin: 0;
				box-shadow: 2px 12px 15px -2px $sketchup-gray; // animated
				-webkit-transition: background-color 0.5s;
				transition: background-color 0.5s;
			}
		}

		@media (min-width: $mobile) {
			// width: 30%;
			// min-height: 300px; // arbitrary

			&:hover {
				.icon {
					border-color: $sketchup-ltgray;
				}
			}

		} // end @media
	} // end .job-posting
}