
.loading-screen {
	display: none;
	position: fixed;
	z-index: 50;
	top: 0;
	left: 0;
	background-color: $new-blue;

	&.show {
		display: block;
		-webkit-transition: opacity 1s;
		transition: opacity 1s;
	}
	&.hide {
		opacity: 0;
	}

	.copy-cont {
		@include centerMe();
		max-width: 80%;
		color: $white;
	}
}
.slide0 {
	z-index: 20; // put in front of progress bar
	min-height: 100vh;
	min-height: 0;
	padding: 20vh 0;
	background-color: $new-blue;
	overflow: hidden;
	// @include animation(landingSlide, 1.2s, $curve3, 2.6s);

	.container {
		text-align: right;
	}
	.scroll-indicator {
		@include centerX();
		bottom: 20px;
		padding: 20px;
		font-size: 3em;
		color: $white;
		@include transition();
		-webkit-transition-delay: 1.3s;
		transition-delay: 1.3s;
	}

	@media (min-width: $mobile) {
		height: 100vh;
		padding: 0;

		&.bounce-up {
			@include animation(bounceUp, 1.3s);

			.scroll-indicator {
				bottom: 20px;
				@include animation(blink, 2s, $curve1, 0s, infinite);
			}
		}

		.container {
			@include centerMe();
		}
		.scroll-indicator {
			bottom: -100px;
		}
	}
}


$travelDist: 20vh;
$bounceDist: 5vh;

@include keyframes(bounceUp) {
	0% {
		height: 100vh;
	}
	15% {
		height: 100vh - ($travelDist + $bounceDist);
	}
	40% {
		height: 100vh - ($travelDist - ($bounceDist/2));
	}
	75% {
		height: 100vh - ($travelDist);
	}
	100% {
		height: 100vh - $travelDist;
	}
}

@include keyframes(blink) {
	0% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}