

// Leaderboard pieces
//--------------------------
.slide1 {
	.leader-cont {
		@include centerX();
		top: -100vh;
		// height: 60vh;
		width: 100%;
		text-align: center;
		@include transition();

		.leaderboard-title {
			width: 100%;
			text-align: center;

			h1 {
				@include transition();

				&.fade {
					opacity: 0;
				}
			}
		}
		.back-btn {
			position: absolute;
			top: 0;
			left: 30px;
			font-size: 1.8rem;
			padding: 8px 16px 6px;
			color: $sketchup-gray;
			// background-color: transparent;

			&:before {
				content: '';
				display: inline-block;
				width: 12px;
				height: 12px;
				margin-right: 7px;
				border-top: 2px solid $sketchup-gray;
				border-left: 2px solid $sketchup-gray;
				@include transform( rotate(-45deg) );
				@include transition();
			}

			&:hover {
				border-color: $black;
				color: $black;

				&:before {
					@include transform( rotate(315deg) );
				}
			}
		}

		.position-box {
			display: inline-block;
			vertical-align: top;
			min-width: 12%;
			max-width: 18%;
			padding: 0 0 30px;
			margin-right: 50px;
			// background-color: $sketchup-medgray;
			border: 5px solid $sketchup-medgray;
			box-shadow: 1px 1px 15px -2px $sketchup-gray;
			border-radius: 3px;
			@include transition();

			&:last-child {
				margin-right: 0;
			}

			&.first {
				// background-color: $error-yellow;
				border-color: $gold;
				box-shadow: 1px 1px 15px $gold;

				.box-title {
					border-color: $gold;
				}
			}
			&.second {
				// background-color: $silver;
				border-color: $silver;
				box-shadow: 1px 1px 15px 1px $silver;

				.box-title {
					border-color: $silver;
				}
			}
			&.third {
				// background-color: $sketchup-red;
				border-color: $bronze;
				box-shadow: 1px 1px 15px -1px $bronze;

				.box-title {
					border-color: $bronze;
				}
			}

			.box-title {
				width: 100%;
				margin: 0 0 30px;
				padding: 8px 12px;
				text-align: center;
				border-bottom: 5px solid $sketchup-medgray;
			}
			img {
				height: 40vh;
				width: auto;
				// max-width: 100%;
				@include transition(0.3s);

				&.hide {
					opacity: 0;
				}
			}
		}
	}
	.leaderboard-control-panel {
		position: absolute;
		z-index: 4;
		bottom: -250px;
		left: 0;
		width: 100%;
		padding: 15px 0 20px;
		background-color: $sketchup-gray;
		color: $white;
		@include transition(0.9s);
		box-shadow: 0 0 15px -2px $sketchup-gray;

		.leaderboard {
			text-align: center;
			@include transition();

			&.show {
				top: 0;
			}

			.leader-title {
				width: 100%;
				text-align: center;
				color: $white;
			}
			button {
				margin: 0 10px 10px 0;
				border-color: $white;
				color: $white;

				&:last-child {
					margin: 0;
				}
				&:hover {
					background-color: $white;
					color: $sketchup-gray;
				}
			}
		}
	}

	// Enter Leaderboard mode
	&.leader-mode {
		.leader-cont {
			top: 100px;
		}
		.leaderboard-control-panel {
			bottom: -2px;
		}
		.control-panel {
			bottom: -150px;
			background-color: $sketchup-medgray;

			#open-filter {
				top: 5px;
			}
		}
		.scalee-cont {
			bottom: 100vh;
		}

	}
}