

// Leaderboard pieces
//--------------------------
.slide1 {
	.leader-cont {
		visibility: hidden;
		@include centerX();
		top: -100vh;
		width: 100%;
		text-align: center;
		padding: 45px 0 0;
		@include transition();

		.leaderboard-title {
			width: 100%;
			padding: 0 20px; // space for .back-btn
			text-align: center;

			h1 {
				@include transition();

				&.fade {
					opacity: 0;
				}
			}
		}
		.back-btn {
			position: absolute;
			top: 0;
			right: 10px;
			width: 50px;
			height: 50px;
			@include closeIcon();

			&:before,
			&:after {
				background-color: $sketchup-gray;
			}
		}
		.position-boxes {
			white-space: nowrap;
			overflow-x: auto;
			padding: 0 20px 10px;
		}
		.position-box {
			display: inline-block;
			vertical-align: top;
			min-width: 100px;
			max-width: 150px;
			margin-right: 10px;

			border-radius: 3px;
			@include transition();

			&:last-child {
				margin-right: 0;
			}

			&.box-1 {
				.box-title {
				}
			}
			&.box-2,
			&.box-3 {
				@include transform( scale(0.9) );

				.box-title {
				}
			}

			.box-title {
				width: 100%;
				margin: 5px 0 0;
				padding: 8px 12px;
				text-align: center;
				background-color: $sketchup-gray;
				color: $white;
				box-shadow: $box-shadow;			
			}
			img {
				height: 35vh;
				width: auto;
				// max-width: 100%;
				@include transition(0.3s);

				&.hide {
					opacity: 0;
				}
			}
		}

		@media (min-width: $mobile) {
			background-color: transparent;
			padding-top: 0;
			
			.leaderboard-title {
				padding: 0;

				h1 {
					margin-bottom: 50px;
				}
			}
			.position-boxes {
				padding: 0 0 10px;
			}
			.position-box {
				min-width: 12%;
				max-width: 18%;
				margin-right: 50px;

				img {
					height: 40vh;
				}
			}
			.back-btn {
				top: -50px;
				width: 100px;
				height: 100px;
				right: 30px;

				&:hover {
				}
			}
		}
	}
	.leaderboard-control-panel {
		visibility: hidden;
		position: absolute;
		z-index: 4;
		bottom: -250px;
		left: 0;
		width: 100%;
		padding: 15px 0 20px;
		background-color: $sketchup-gray;
		color: $white;
		@include transition(0.9s);
		box-shadow: 0 0 15px -2px $sketchup-gray;

		.leaderboard {
			text-align: center;
			@include transition();

			&.show {
				top: 0;
			}
			.leader-title {
				width: 100%;
				text-align: center;
				color: $white;
			}
			.leaderboard-buttons {
				white-space: nowrap;
				overflow-x: auto;
			}
			button {
				margin: 0 10px 10px 0;
				border-color: $white;
				color: $white;

				&:last-child {
					margin: 0;
				}
				&.active {
					background-color: $white;
					color: $sketchup-gray;
				}
			}
		}

		@media (min-width: $mobile) {
			padding: 15px 0 20px;

			.leaderboard {
				.leaderboard-buttons {
					white-space: normal;
					overflow: visible;
				}
				
				button {
					&:hover {
						background-color: $white;
						color: $sketchup-gray;
					}
				}
			}
		}
	}

	// Enter Leaderboard mode
	&.leader-mode {
		overflow: hidden;

		.leader-cont {
			visibility: visible;
			top: 0;
		}
		.leaderboard-control-panel {
			visibility: visible;
			bottom: -2px;
		}
		> .logo {
			opacity: 0 !important;
		}
		.control-panel {
			bottom: -150px;
			background-color: $sketchup-medgray;

			#open-filter {
				top: 5px;
			}
		}
		.scalee-cont {
			opacity: 0;
			visibility: hidden;
		}
		.scalee-background {
			opacity: 0;
		}
		.scalee-scroll {
			&.prev {
				left: -100px;
			}
			&.next {
				right: -100px;
			}
		}

		@media (min-width: $mobile) {
			.leader-cont {
				top: 50px;
			}
			.leaderboard-control-panel {
				visibility: visible;
				bottom: -2px;
			}
			.control-panel {
				bottom: -150px;
				background-color: $sketchup-medgray;

				#open-filter {
					top: 5px;
				}
			}
			.scalee-cont {
				bottom: 100vh;
			}
		}

	}
}