
.slide2 {
	text-align: center;
	background-color: $sketchup-gray;
	background-image: url('/img/texture_poly-blend-darkgray.jpg');
	background-attachment: fixed;
	color: $white;
	
	.center-me {
		@media (min-width: $mobile) {
			@include centerMe();
		}
	}

	a.nav-box {
		display: block;
		max-width: 300px;
		margin: 0 auto 50px;
		padding: 20px 30px;
		border: 1px solid $white;
		background-color: transparent;
		color: $white;

		.icon {
			display: inline-block;
			position: relative;
			height: 150px;
			width: 150px;
			margin-bottom: 15px;
			border-radius: 50%;
			@include transition();

			&:before {
				@include centerMe();
				font-size: 7rem;
			}
		}
		h3 {
			margin: 0;
		}
	}

	@media (min-width: $mobile) {
		a.nav-box {
			display: inline-block;
			margin-right: 50px;

			&:last-child {
				margin-right: 0;
			}

			&:hover {
				color: $sketchup-gray;
				background-color: $white;

				.icon {
					background-color: $sketchup-gray;
					color: $white;
				}
			}
		}
	}
}