
.slide.slide2 {
	text-align: right;
	background-color: $new-blue;
	overflow: hidden;

	#hello-small-poly {
		position: absolute;
		z-index: 2;
		right: 80%;
		top: -200px;
		@include transform( rotate(40deg) scale(0.7));
	}
	#hello-large-poly {
		position: absolute;
		right: 70%;
		top: -900px;
	}


	.title-box {
		margin: 0 0 120px;
	}

	a.nav-box {
		position: relative;
		left: -15px;
		display: block;
		margin: 0 auto 50px;
		text-align: left;

		.icon {
			display: inline-block;
			position: absolute;
			z-index: 2;
			top: 70%; // animated
			right: -15px;
			height: 60px;
			width: 60px;
			border-radius: 50%;
			background-color: $white;
			color: $new-red;
			box-shadow: 2px 2px 15px -3px $black;

			&:before {
				@include centerMe();
				font-size: 2.5rem;
			}
		}
		.box-svg {
			width: 265px;
			height: 265px;
		}
		&.mid-box {
			left: 0;

			.copy-cont {
				padding-left: 30px;
				padding-right: 30px;
			}
			.icon {
				right: -2px;
			}
		}
		.copy-cont {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			padding: 25px 20px 10px 51px;
			text-align: left;

			h5,
			p {
				// animation starts
				color: rgba(255,255,255, 0);
				text-shadow: 0 0 15px rgba(255,255,255, 1);
			}
			h5 {
				margin-bottom: 10px;
			}
			p {
				margin: 0;
				line-height: 1.2em;
			}
		}

	}

	@media (min-width: $mobile) {
		a.nav-box {
			left: 0;
			display: inline-block;
			vertical-align: top;
			margin: 0;

			&:first-child {
				margin-right: 65px;
			}
			&.mid-box {
				margin-right: 30px;

				.icon {
					right: -15px;
				}
			}

			.icon {
				-webkit-transition: box-shadow 0.4s, transform 0.8s;
				transition: box-shadow 0.4s, transform 0.8s;
			}

			&:hover {
				.icon {
					@include transform( scale(1.05) );
					box-shadow: 2px 2px 18px 1px $sketchup-gray;
				}
			}
		}
	}
}