
.slide.slide2 {
	text-align: right;
	background-color: $new-blue;

	.title-box {
		margin: 0 0 20vh;
	}

	a.nav-box {
		position: relative;
		display: block;
		margin: 0 auto 50px;
		text-align: left;

		.icon {
			display: inline-block;
			position: absolute;
			z-index: 2;
			top: 70%; // animated
			right: -15px;
			height: 60px;
			width: 60px;
			border-radius: 50%;
			background-color: $white;
			color: $new-red;
			box-shadow: 2px 2px 15px -3px $black;

			&:before {
				@include centerMe();
				font-size: 2.5rem;
			}
		}
		.box-svg {
			width: 265px;
			height: 265px;
		}
		&.mid-box {
			.copy-cont {
				padding-left: 30px;
			}
		}
		.copy-cont {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			padding: 25px 30px 10px 51px;
			text-align: left;

			h5,
			p {
				// animation starts
				color: rgba(255,255,255, 0);
				text-shadow: 0 0 15px rgba(255,255,255, 1);
			}
			h5 {
				margin-bottom: 10px;
			}
			p {
				margin: 0;
				line-height: 1.2em;
			}
		}
			

		// .poly {
		// 	display: inline-block;
		// 	position: absolute;
		// 	top: 100%;
		// 	width: 0;
		// 	height: 0;
		// }
		// .bottom-right-poly {
		// 	right: 0;
		// 	border-top: 100px solid $new-red;
		// 	border-right: 95px solid $new-red;
		// 	border-bottom: 10px solid transparent;
		// 	border-left: 103px solid transparent;

		// 	&:after {
		// 		content: '';
		// 		display: inline-block;
		// 		position: absolute;
		// 		z-index: -1;
		// 		top: 0;
		// 		right: 1px;
		// 		height: 100%;
		// 		width: 5px;
		// 		box-shadow: 2px 2px 15px -3px $black;
		// 	}
		// }
		// .bottom-left-poly {
		// 	left: 0;
		// }

		// &:nth-child(1) {
		// 	.bottom-left-poly {
		// 		border-top: 15px solid $new-red;
		// 		border-right: 200px solid $new-red;
		// 		border-bottom: 4px solid transparent;
		// 		border-left: 12px solid transparent;
		// 	}
		// }
		// &:nth-child(2) {
		// 	.bottom-left-poly {
		// 		border-top: 15px solid $new-red;
		// 		border-right: 200px solid $new-red;
		// 		border-bottom: 40px solid transparent;
		// 		border-left: 12px solid transparent;
		// 	}
		// }
		// &:nth-child(3) {
		// 	.bottom-left-poly {
		// 		border-top: 40px solid $new-red;
		// 		border-right: 70px solid transparent;
		// 		border-bottom: 0px solid transparent;
		// 		border-left: 20px solid $new-red;
		// 	}
		// }

	}

	@media (min-width: $mobile) {
		a.nav-box {
			display: inline-block;
			vertical-align: top;
			margin: 0;

			&:first-child {
				margin-right: 65px;
			}
			&.mid-box {
				margin-right: 30px;
			}

			.icon {
				-webkit-transition: box-shadow 0.4s, transform 0.8s;
				transition: box-shadow 0.4s, transform 0.8s;
			}

			&:hover {
				.icon {
					@include transform( scale(1.05) );
					box-shadow: 2px 2px 18px 1px $sketchup-gray;
				}
			}
		}
	}
}