

// slide 1: Scalee Sorter
//--------------------------
.slide1 {
	position: relative;
	z-index: 0;
	padding-top: 15vh;

	.title-cont {
		position: relative;
		top: 0; // declared for transition states
		opacity: 1;
		width: 100%;
		max-width: 1170px;
		margin: 0 auto 15vh;
		padding: 0 20px;
		text-align: center;
		@include transition();
	}
	.scalee-cont {
		height: 40vh;
		text-align: center;
		white-space: nowrap;
		overflow: visible;
		@include transition(1s);

		img {
			display: inline-block;
			height: 100%;
			@include transition(0.7s);

			&.hide {
				@include animation(hideScalee, 1s);
			}
			&.show {
				@include animation(showScalee, 1s);
			}
		}

		@media (min-width: $mobile) {
			@include centerX();
			bottom: 10vh;
		}
	}

	.control-panel {
		position: relative;
		width: 100%;
		background-color: $sketchup-gray;
		box-shadow: 0 0 15px -2px $sketchup-gray;
		@include transition();

		@media (min-width: $mobile) {
			position: absolute;
			z-index: 3;
			bottom: -150px;
			left: 0;
			padding-bottom: 5px;
		}

		.open-panel {
			width: 100%;
			padding: 5px;

			text-align: center;
			background-color: $sketchup-medgray;
			box-shadow: 0 0 15px -2px $sketchup-gray;
			cursor: pointer;
			@include transition();

			h3 {
				margin: 0;
			}
			.arrow-icon {
				display: inline-block;
				margin-left: 10px;
					
				&:before {
					content: '';
					display: inline-block;
					position: relative;
					top: 2px;
					width: 12px;
					height: 12px;
					border-top: 3px solid $sketchup-gray;
					border-right: 3px solid $sketchup-gray;
					@include transform( rotate(-45deg) );
					@include transition();
				}
			}

			@media (min-width: $mobile) {
				position: absolute;
				bottom: 100%;

				&:hover {
					background-color: $white;
				}
			}
		}

		.selectors {
			position: relative;
			width: 100%;
			max-height: 0;
			overflow: hidden;

			&.open {
				max-height: 100vh;
				overflow-y: auto;
			}

			.selector {
				display: block;
				position: relative;
				overflow: auto;
				width: 100%;
				margin-bottom: 20px;
				text-align: center;

				.selector-title {
					width: 100%;
					margin: 0;
					padding: 10px 5px;
					font-size: 1.3rem;
					line-height: 1em;
					color: $white;
					background-color: $sketchup-gray;
				}
				.wheel-shadow-holder {
					position: relative;
					overflow-x: auto;

					// Element just to add inset box shadow
					.shadow-frame {
						position: absolute;
						z-index: 3;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						pointer-events: none;
						box-shadow: inset 1px 0 25px $sketchup-gray;
					}
				}
				.wheel-selector {
					position: relative;
					max-width: 2000px; // arbitrary, to allow lateral scroll
					height: auto;
					pointer-events: auto;

					color: $sketchup-gray;
					border-left: 5px solid $sketchup-gray;
					border-right: 5px solid $sketchup-gray;
					background-color: $sketchup-gray;
					@include transition();

					.item {
						display: inline-block;
						width: auto;
						padding: 15px 10px;
						text-align: center;
						font-size: 1.7rem;
						background-color: $white;
						border-right: 3px solid $sketchup-gray;

						&:last-child {
							border-right: none;
						}

						&.selected {
							background-color: $sketchup-red;
						}
					}
				}
			} // end .selector

			@media (min-width: $mobile) {
				display: flex;

				.selector {
					flex: 1 0 auto;
					width: auto;
					margin: 0;

					.wheel-selector {
						overflow: hidden;
						width: 100%;
						max-width: none;

						.item {
							display: block;
							width: 100%;
							border-right: none;
							border-bottom: 3px solid $sketchup-gray;
							pointer-events: none;

							&:last-child {
								border-bottom: none;
							}
						}
					}
				}
			} // end media

		} // end .selectors
	} // end .control-panel

	// Show bottom control panel, hide title text, make scalees larger
	&.active2 {
		.title-cont {
			top: -150px;
			opacity: 0;
		}
		.control-panel {
			bottom: 0;
		}
		.scalee-cont {
			bottom: 20vh;
			height: 55vh;

			&:hover {
				img {
					@include filter( blur(2px) grayscale(70%) );
				}
			}

			img {
				cursor: pointer;

				&:hover {
					@include filter( blur(0) grayscale(0%) );
					@include transform( scale(1.05) );
				}

				&.bio-scalee {
				}
				&.invisible {
					@include transition( 0s );
					visibility: hidden;
				}
			}

			// Showing a scalee bio
			&.focus-mode {
				pointer-events: none;

				img {
					pointer-events: none;
					@include filter( blur(2px) grayscale(70%) );
					@include transform( scale(1) );
				}
			}
		}
	}

	// 'control-panel' open
	&.edit-mode {
		.open-panel {
			.arrow-icon {
				&:before {
					@include transform( rotate(135deg) translateY(6px) translateX(-2px) );
				}
			}
		}
		.selectors {
			.selector {
				.wheel-selector {
					overflow-y: auto;
					width: 100%;

					.item {
						cursor: pointer;
						pointer-events: auto;
					}
				}
			}
		}
		.scalee-cont {
			bottom: 45vh;
			height: 35vh;
		}
	}

}