

// slide 1: Scalee Sorter
//--------------------------
.slide1 {
	position: relative;
	z-index: 0;
	height: 100vh;
	overflow: hidden;
	padding: 5vh 0 0; //
	@include transition();

	@media (min-width: $mobile) {
		.title-cont {
		}
	}

	.scalee-scroll {
		@include centerY();
		z-index: 2;
		height: 45px;
		width: 45px;
		padding: 0;
		font-size: 1.5rem;
		background-color: $new-red;
		color: $white;
		box-shadow: $box-shadow;
		border: none;

		&:before {
			position: absolute;
			top: 50%;
			left: 50%;
			border-color: $white;
		}

		&:active {
			box-shadow: $box-shadow-active;
		}
		&:hover {
			background-color: darken($new-red, 5%);
		}

		&.prev {
			left: 20px;

			&:before {
				@include transform( translate(-30%, -50%) rotate(-135deg) );
			}
		}
		&.next {
			right: 20px;

			&:before {
				@include transform( translate(-70%, -50%) rotate(45deg) );
			}
		}
	}
	.scalee-cont {
		position: absolute;
		top: 5vh;
		left: 0;
		height: 40vh;
		width: auto;
		margin-bottom: 30px;
		text-align: center;
		white-space: nowrap;
		@include transition(0.8s);

		img {
			position: relative;
			z-index: 1;
			display: inline-block;
			height: 100%;
			@include transition(0.7s);

			// Create stagger and overlap
			margin-right: -20px;

			&:nth-child(3n) {
				z-index: 0;
				@include transform( perspective(100px) scale(0.8) translateY(-45px) );
			}
			&:nth-child(4n) {
				left: 5px;
				@include transform( perspective(100px) translateZ(1px) );
			}
			&:nth-child(5n+1) {
				right: 5px;
				z-index: 0;
				@include transform( perspective(100px) scale(0.8) translateY(-45px) );
			}
	
			&.hide {
				@include animation(hideScalee, 1s);
			}
			&.show {
				@include animation(showScalee, 1s);
			}
		}

		@media (min-width: $mobile) {
			top: 15vh;
			height: 85vh;
			margin: 0;
			padding: 20px 0;
		}
	}
	.scalee-background {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 90%; // animated on slide focus
		background-color: $sketchup-medgray;
		// border-top: 1px solid $sketchup-gray;
		box-shadow: $box-shadow;
		// @include transition();

		@media(min-width: $mobile) {
			
		}
	}

	.control-panel {
		position: relative;
		width: 100%;
		background-color: $new-blue;
		box-shadow: 0 0 15px -2px $sketchup-gray;
		@include transition();

		@media (min-width: $mobile) {
			position: absolute;
			z-index: 3;
			bottom: 0;
			left: 0;
			padding-bottom: 5px;
		}

		.open-panel {
			@include centerX();
			top: -66px;
			box-shadow: $box-shadow;

			&:active {
				box-shadow: $box-shadow-active;
			}

			.arrow-icon {
				margin-left: 10px;

				&:before {
					border-color: $white;
					@include transform( rotate(135deg) translateY(6px) translateX(-2px) );
				}
			}

			@media (min-width: $mobile) {
				// &:hover {
				// 	background-color: $white;
				// }

				.arrow-icon {
					&:before {
						@include transform( rotate(-45deg) translateY(0) translateX(-2px) );
					}
				}
			}
		}

		.selectors {
			position: relative;
			width: 100%;
			max-height: 0;
			overflow: hidden;
			@include transition();

			.selector {
				display: block;
				position: relative;
				overflow: auto;
				width: 100%;
				margin-bottom: 20px;
				text-align: center;

				.selector-title {
					width: 100%;
					margin: 0;
					padding: 10px 5px;
					font-size: 1.3rem;
					line-height: 1em;
					color: $white;
					background-color: $new-blue;
				}
				.wheel-shadow-holder {
					position: relative;
					overflow-x: auto;

					// Element just to add inset box shadow
					.shadow-frame {
						position: absolute;
						z-index: 3;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						pointer-events: none;
						@include transition();
						box-shadow: inset 1px 0 25px $new-blue;
					}
				}
				.wheel-selector {
					position: relative;
					max-width: 2000px; // arbitrary, to allow lateral scroll
					height: auto;
					white-space: nowrap;
					overflow-x: auto;
					pointer-events: auto;

					color: $sketchup-gray;
					border-left: 5px solid $new-blue;
					border-right: 5px solid $new-blue;
					background-color: $sketchup-gray;
					@include transition();

					.item {
						display: inline-block;
						width: auto;
						padding: 15px 20px;
						text-align: center;
						font-size: 1.7rem;
						background-color: $sketchup-ltgray;
						border-right: 3px solid $new-blue;
						@include transition(0.3s);

						&:last-child {
							border-right: none;
						}

						&.selected {
							background-color: $white;
							font-weight: 700;
							color: $sketchup-red;
						}
					}
				}
			} // end .selector

			@media (min-width: $mobile) {
				display: flex;
				max-height: none;

				.selector {
					flex: 1 0 auto;
					width: auto;
					margin: 0;

					.wheel-shadow-holder {
						overflow-x: hidden;

						.shadow-frame {
							width: 104%;
							left: -2%;
							// box-shadow: inset 1px 0 10px 8px $new-blue;
						}
					}

					.wheel-selector {
						overflow: hidden;
						width: 100%;
						max-width: none;
						white-space: normal;
						overflow-x: auto;

						.item {
							display: block;
							width: 100%;
							border-right: none;
							border-bottom: 3px solid $new-blue;
							pointer-events: none;

							&:last-child {
								border-bottom: none;
							}
							&:hover {
								background-color: $white;
								// font-weight: 700;
							}
						}
					}
				}
			} // end media

		} // end .selectors
	} // end .control-panel

	// Show bottom control panel, hide title text, make scalees larger
	&.active {
		.scalee-background {
			// height: 40%;
		}
		.scalee-cont {
			// top: 15vh;

			&:hover {
				img {
					@include filter( blur(2px) grayscale(70%) );
				}
			}

			img {
				cursor: pointer;

				&:hover {
					@include filter( blur(0) grayscale(0%) );
					@include transform( scale(1.05) );
				}

				&.bio-scalee {
				}
				&.invisible {
					@include transition( 0s );
					visibility: hidden;
				}
			}

			// Showing a scalee bio
			&.focus-mode {
				pointer-events: none;

				img {
					pointer-events: none;
					@include filter( blur(2px) grayscale(70%) );
					// @include transform( scale(1) );
				}
			}
		}

		@media (min-width: $mobile) {
			.scalee-cont {
				// height: 85vh;
			}
		}
	}

	// 'control-panel' open
	&.edit-mode {

		.selectors {
			max-height: 100vh;
			overflow-y: auto;
			padding-top: 20px;
			padding-bottom: 20px;

			.selector {
				.wheel-shadow-holder {
					.shadow-frame {
						box-shadow: inset 1px 0 10px 8px $new-blue;
					}
				}
			}
		}
		.open-panel {
			.arrow-icon {
				&:before {
					@include transform( rotate(315deg) );
				}
			}
		}

		@media (min-width: $mobile) {
			.open-panel {
				.arrow-icon {
					&:before {
						@include transform( rotate(135deg) translateY(6px) translateX(-2px) );
					}
				}
			}
			.selectors {
				max-height: none;
				overflow-y: visible;
				padding: 0;

				.selector {
					.wheel-selector {

						overflow-y: auto;
						width: 100%;

						.item {
							cursor: pointer;
							pointer-events: auto;
						}
					}
				}
			}
			// .scalee-cont {
			// 	bottom: 45vh;
			// 	height: 35vh;
			// }
		}
			
	}

}