

// Scalee Bios
//--------------------------
.slide1 {
	.info-slide {
		position: absolute;
		z-index: 7;
		left: 105%;
		top: 50px;
		width: 50%;
		height: 100%;
		padding-top: 100px; // arbitrary
		text-align: left;
		background-color: $sketchup-ltgray;
		box-shadow: 0 0 15px -3px $sketchup-gray;
		@include transition(1s);

		.close-btn {
			position: absolute;
			display: inline-block;
			top: 20px;
			right: 30px;
			width: 50px;
			height: 50px;
			padding: 10px;
			@include transition(0.8s);
			@include transform( rotate(45deg) );
			cursor: pointer;

			&:before,
			&:after {
				content: '';
				display: inline-block;
				@include centerMe();
				background-color: $sketchup-gray;
			}
			&:before {
				width: 60%;
				height: 2px;
			}
			&:after {
				width: 2px;
				height: 60%;
			}

			&:hover {
				@include transform( rotate(225deg) );
			}
		}
		.content-cont {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 90%;
			max-width: 600px;
			padding: 0 40px;
			text-align: left;

			button.truths {
				margin-top: 20px;
			}

			.swap-cont {
				position: relative;
			}

			.description-cont {
				position: relative;
			}
			.game-cont {
				position: absolute;
				top: 100vh;
				min-height: 100%;
				background-color: $sketchup-ltgray;
				@include transition(1s);

				.game-title-cont {
					margin-bottom: 20px;

					h3 {
						display: inline-block;
						margin-bottom: 10px;
					}
					.close-game-btn {
						display: inline-block;
						float: right;
						color: $sketchup-ltgray;
						background-color: $sketchup-gray;
						border: none;

						&:hover {
							background-color: darken($sketchup-gray, 20%);
						}
					}
					p {
						margin: 0;
					}
				}
					
				.fact-cont {

				}
				.fact-item {
					margin-bottom: 10px;
					padding: 10px 5px;
					cursor: pointer;
					border: 2px solid transparent;
					@include transition();

					&:hover {
						background-color: $white;
					}

					h4 {
						margin: 0 0 8px;
						padding: 0 0 6px;
						border-bottom: 1px solid $sketchup-red;
					}
					.answer {
						display: inline-block;
						opacity: 0;
						font-weight: 700;
					}
					p {
						margin: 0;
					}

					&.truth {
						.answer {
							color: $trimble-green;
						}
					}
					&.lie {
						.answer {
							color: $sketchup-red;
						}
					}
				}
			}

			// Playing two-truths game...
			&.question-mode {
				.description-cont {
					bottom: 150%;
				}
				.game-cont {
					top: 0;

					// Show answers
					&.reveal {
						.fact-item {
							// background-color: $white;

							&:hover {
								background-color: transparent;
							}

							&.truth {
								// border-color: $trimble-green;

								h4 {
									border-bottom-color: $trimble-green;
								}
							}
							&.lie {
								border-color: $sketchup-red;
							}

							.answer {
								opacity: 1;
							}
						}
					}
				}
			}
		}

	} // end .info-slide

	.scalee-bio-background {
		position: fixed;
		left: 0;
		bottom: 100%;
		width: 100%;
		height: 100%;
		opacity: 0;
		background-color: $white;
		-webkit-transition: opacity 1s;
		transition: opacity 1s;
	}


	// Showing the bio...
	//-----------------------
	&.active2 {

		.info-slide {
			&.show {
				left: 50%;
			}
		}
		.scalee-bio-background {
			&.show {
				bottom: 0;
				z-index: 4;
				opacity: 0.9;
			}
		}
		img.bio-scalee {
			position: fixed;
			z-index: 5;
			@include transition();
			@include transform( scale(1.05) );

			&.fly-away {
				@include transform( scale(1) );
			}
		}
	}

}