

// Scalee Bios
//--------------------------
.slide1 {
	.info-slide {
		position: absolute;
		z-index: 7;
		left: 105%;
		top: 50px;
		width: 50%;
		height: 100%;
		padding-top: 50px; // arbitrary
		text-align: left;
		color: $sketchup-ltgray;
		background-color: $sketchup-gray;
		box-shadow: 0 0 15px -3px $sketchup-gray;
		@include transition(1s);

		.close-btn {
			position: absolute;
			display: inline-block;
			top: 20px;
			right: 30px;
			width: 50px;
			height: 50px;
			padding: 10px;
			@include transition(0.8s);
			@include transform( rotate(45deg) );
			cursor: pointer;

			&:before,
			&:after {
				content: '';
				display: inline-block;
				@include centerMe();
				background-color: $sketchup-ltgray;
			}
			&:before {
				width: 60%;
				height: 2px;
			}
			&:after {
				width: 2px;
				height: 60%;
			}

			&:hover {
				@include transform( rotate(225deg) );
			}
		}
		.content-cont {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 90%;
			max-width: 600px;
			padding: 0 40px;
			text-align: left;

			// > h1,
			// > h3 {
			// 	display: inline-block;
			// }
			// > h3 {
			// 	margin-left: 15px;
			// }
			> h1 {
				margin-bottom: 8px;
			}
			> h3 {
				padding-bottom: 12px;
				border-bottom: 1px solid $sketchup-ltgray;
			}
			button.truths {
				display: block;
				width: auto;
				margin: 40px auto 0;
				background-color: $sketchup-gray;
			}

			.swap-cont {
				position: relative;
			}

			.description-cont {
				position: relative;
			}
			.game-cont {
				position: absolute;
				top: 100vh;
				min-height: 100%;
				background-color: $sketchup-gray;
				@include transition(1s);

				.game-title-cont {
					margin-bottom: 20px;

					h4 {
						display: inline-block;
						margin-bottom: 10px;
					}
					.close-game-btn {
						float: right;
					}
					p {
						margin: 0;
					}
				}
					
				.fact-cont {

				}
				.fact-item {
					margin-bottom: 10px;
					// padding: 10px 5px;
					cursor: pointer;
					// border: 2px solid transparent;
					background-color: $sketchup-ltgray;
					color: $sketchup-gray;
					box-shadow: 1px 1px 15px -2px $black;
					@include transition(0.3s);

					&:hover {
						box-shadow: 1px 1px 15px $black;
						@include transform( scale(1.02) );
						background-color: $white;

						h3 {
							// background-color: $sketchup-red;
							color: $sketchup-red;
						}
					}

					h3 {
						margin: 0;
						// padding: 0 0 6px;
						padding: 8px 5px 6px;
						border-bottom: 1px solid $sketchup-gray;
						@include transition(0.3s);
					}
					.answer {
						display: inline-block;
						opacity: 0;
						font-weight: 700;
					}
					p {
						margin: 0;
						padding: 12px 10px;
					}

					&.truth {
						.answer {
							color: $trimble-green;
						}
					}
					&.lie {
						.answer {
							color: $sketchup-red;
						}
					}
				}
			}

			// Playing two-truths game...
			&.question-mode {
				.description-cont {
					bottom: 150%;
				}
				.game-cont {
					top: 0;

					// Show answers
					&.reveal {
						.fact-item {
							cursor: auto;

							&:hover {
								// Reset so no hover state
								background-color: $sketchup-ltgray;

								h3 {
									color: $sketchup-gray;
								}
							}

							&.truth {
								@include transform( scale(0.95) );
								
								&:hover {
									@include transform( scale(0.95) );
								}
							}
							&.lie {
								@include transform( scale(1.05) );
								
								&:hover {
									@include transform( scale(1.05) );
								}
							}

							.answer {
								opacity: 1;
							}
						}
					}
				}
			}
		}

	} // end .info-slide

	.scalee-bio-background {
		position: fixed;
		left: 0;
		bottom: 100%;
		width: 100%;
		height: 100%;
		opacity: 0;
		background-color: $white;
		-webkit-transition: opacity 1s;
		transition: opacity 1s;
	}


	// Showing the bio...
	//-----------------------
	&.active2 {

		.info-slide {
			&.show {
				left: 50%;
			}
		}
		.scalee-bio-background {
			&.show {
				bottom: 0;
				z-index: 4;
				opacity: 0.9;
			}
		}
		img.bio-scalee {
			position: fixed;
			z-index: 5;
			@include transition();
			@include transform( scale(1.05) );

			&.fly-away {
				@include transform( scale(1) );
			}
		}
	}

}