

// Scalee Bios
//--------------------------
.slide1 {

	.scalee-bio-background {
		position: absolute;
		left: 0;
		bottom: 100%;
		width: 100%;
		height: 100%;
		opacity: 0;
		background-color: $white;
		-webkit-transition: opacity 1s;
		transition: opacity 1s;
	}

	.info-slide {
		position: fixed;
		overflow-y: auto;
		overflow-x: hidden;
		z-index: 7;
		left: 105%;
		top: 0;
		width: 100%;
		height: 100vh;
		padding: 12px 10px;
		text-align: left;
		// color: $sketchup-ltgray;
		background-color: $new-blue;
		box-shadow: 0 0 15px -3px $sketchup-gray;
		@include transition(1s);

		img.new-img {
			display: block;
			margin: 0 auto 20px;
			max-height: 30vh;
		}

		.close-btn {
			position: absolute;
			display: inline-block;
			top: 10px;
			right: 10px;
			width: 50px;
			height: 50px;
			margin-bottom: 12px;
			padding: 10px;
			@include transition(0.8s);
			@include transform( rotate(45deg) );
			cursor: pointer;

			&:before,
			&:after {
				content: '';
				display: inline-block;
				@include centerMe();
				background-color: $new-blue;
			}
			&:before {
				width: 60%;
				height: 3px;
			}
			&:after {
				width: 3px;
				height: 60%;
			}

			&:hover {
				// @include transform( rotate(90deg) );
			}
		}

		.content-cont {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 100%;
			max-width: 600px;
			height: 100%;
			overflow-y: auto;
			overflow-x: hidden;
			padding: 20px 30px;
			text-align: left;
			background-color: $white;

			.title-box {
				margin-bottom: 15px;

				h1 {
					margin-bottom: 20px;
				}
			}
			.description-cont {
				position: relative;
				margin-bottom: 50px;

				.button-row {
					padding-top: 10px;

					button {
						margin-right: 15px; // just in case
					}
					.social-icon {
						float: right;
						margin-left: 3px;
						padding: 2px 10px 10px;
						font-size: 2rem;
						color: $new-blue;
					}
				}
			}
			.game-cont {
				h4 {
					display: inline-block;
					margin-bottom: 20px;
				}
				.fact-item {
					margin-bottom: 20px;
					cursor: pointer;
					@include transition(0.3s);
					
					.fact-radio {
						display: inline-block;
						vertical-align: top;
						width: 20px;
						height: 20px;
						margin-right: 15px;
						border: 3px solid $new-blue;
						background-color: $sketchup-ltgray;
						border-radius: 50%;
						@include transition(0.5s);
					}
					p {
						display: inline-block;
						width: calc(100% - 40px);
						margin: 0;
						padding: 0;
						font-size: 1.4rem;
						@include transition(0.5s);
					}

					&.truth {
						// .answer {
						// 	color: $trimble-green;
						// }
					}
					&.lie {
						// .answer {
						// 	color: $sketchup-red;
						// }
					}
				}
				// Show answers
				&.reveal {
					.fact-item {
						&.truth {
							// @include transform( scale(0.95) );

							.fact-radio {
								border-color: $trimble-green;
								background-color: $trimble-green;
								box-shadow: 0 0 5px $trimble-green;
							}
							p {
								text-shadow: 0 0 3px $sketchup-gray;
							}
						}
						&.lie {
							.fact-radio {
								border-color: $new-red;
								background-color: $new-red;
							}
						}
					}
				}

			} // end .game-cont

		}


		@media (min-width: $mobile) {
			position: absolute;
			overflow: hidden;
			top: 0;
			width: 50%;
			height: 100%;
			// padding-top: 50px; // arbitrary

			img.new-img {
				display: none;
			}
			.close-btn {
				position: relative;
				top: 0;
				right: 10px;
			}
			.content-cont {
				padding: 25px 40px;

				.game-cont {
					.fact-item {
						&:hover {
							.fact-radio {
								background-color: $new-blue;
							}
							// p {
							// 	font-weight: 700;
							// }
						}
					}
					// Show answers
					&.reveal {
						.fact-item {
							cursor: auto;

							&:hover {
								// Reset so no hover state
								p {
									font-weight: 400;
								}
							}
						}
					}
				}
			}
		} // end media()


		// Showing bio on mobile
		//-----------------------
		&.show {
			left: 0;
		}

	} // end .info-slide


	// Showing the bio on desktop...
	//--------------------------------
	&.active {

		.info-slide {
			&.show {
				left: 50%;
			}
		}
		.scalee-bio-background {
			&.show {
				bottom: 0;
				z-index: 4;
				opacity: 0.9;
			}
		}
		img.bio-scalee {
			position: absolute;
			z-index: 5;
			@include transition();
			@include transform( scale(1.05) );

			&.fly-away {
				@include transform( scale(1) );
			}
		}
	}

}