
// Variables
//============================

//// COLORS ////
//-------------
$new-red:     #D0011B;
$new-blue:    #498FE1;

$su-gray-rgba:    rgba(54, 53, 69, 1);
$su-gray-rgba-0:  rgba(54, 53, 69, 0);
$new-blue-rgba:   rgba(73, 143, 225, 1);


$box-shadow:  2px 2px 15px -2px $black;
$box-shadow-active: 2px 2px 15px -6px $black;


//// FONTS ////
//-------------
$new-header-fonts:  "Proxima Nova", arial, sans-serif;
$new-body-fonts:    "Letter Gothic Std", "Lucida Console", Monaco, monospace;


//// BREAKPOINTS ////
//-------------------
$mobile:    768px;
$tablet:    1024px;
$desktop:   1200px;


//// OTHER ////
//-------------
$curve1: cubic-bezier(.22,.07,.23,.99);
$curve2: cubic-bezier(.97,.05,.7,.96);
$curve3: cubic-bezier(.21,.05,.07,.99);



//// MIXINS ////
//-------------
@mixin transition($time: 0.5s) {
	-webkit-transition: all $time;
	transition: all $time;
}
@mixin transform($props) {
  -ms-transform: $props;
  -webkit-transform: $props;
  transform: $props;
}
@mixin centerMe() {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform( translate(-50%, -50%) );
}
@mixin centerX() {
  position: absolute;
  right: 50%;
  @include transform( translateX(50%) );
}
@mixin centerY() {
  position: absolute;
  top: 50%;
  @include transform( translateY(-50%) );
}

@mixin linear-gradient($start, $end) {
  background: $start;
  background: -webkit-linear-gradient($start, $end);
  background: linear-gradient($start, $end);
}

// Filters
@mixin filter($props) {
  -webkit-filter: $props;
  filter: $props;
}

// Animations
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation($name, $duration, $timing: $curve1, $delay: 0s, $iterations: 1, $direction: normal,  $fill-mode: forwards) {

  -webkit-animation: $name $duration $timing $delay $iterations $direction $fill-mode;
  animation: $name $duration $timing $delay $iterations $direction $fill-mode;

}